@import "../components/presentation/presentation.css";
@import "../components/stack/stack.css";
@import "../components/ui/ui.css";
@import "../components/projects/projects.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbar: #343335;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-snap-type: y mandatory;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: burble;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.sticky-section {
  @apply sticky  h-screen snap-always snap-center;
}

.snap-container { 
  @apply h-screen snap-y scroll-smooth md:overflow-y-auto
}