@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    @apply fixed z-50 inset-0 bg-transparent flex items-center justify-end h-16 py-12 pr-14
}

.header-list {
    @apply gap-16 hidden md:flex items-center
}

.header-list__button {
    @apply hover:cursor-none bg-green-500 text-white px-6 py-2 rounded-lg relative overflow-hidden inline-block text-center w-24 h-10 mt-1 shadow-sm
}

.header-list__button span {
    @apply absolute left-0 right-0 transform -translate-y-1/2 whitespace-nowrap;
}

.custom-cursor {
    @apply md:fixed md:top-0 md:left-0 md:bg-white rounded-full pointer-events-none mix-blend-difference flex justify-center items-center text-lg font-bold;
    z-index: 60;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 16));
    }
  }
  
  .slider {
    @apply bg-red-600 bg-opacity-15 py-12 border-t border-b border-red-400 overflow-hidden w-full;
  }
  
  .slide-track {
    @apply flex items-center ;
    animation: scroll 28s linear infinite;
  }
  
  .slide {
    @apply h-24 w-[250px] flex;
  }